<footer class="footer">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="display-5">CONTACT</h5>
        <p><i class="fas fa-phone"></i>+31 (0)123456879</p>
        <p><i class="fas fa-envelope-open-text"></i>info@commissiels.com</p>
        <p><i class="fas fa-map-marker-alt"></i>Omegaplantsoen 420, 2222XX, Leiden</p>
        <p><i class="fas fa-paper-plane"></i>Ask Us</p>
      </div>
      <div class="col-sm-6">
        <h5 class="display-5">VEEL GESTELDE VRAGEN</h5>
        <p><i class="fas fa-question-circle"></i>How long does it take for a response?</p>
        <p><i class="fas fa-question-circle"></i>How do I get in contact?</p>
        <p><i class="fas fa-question-circle"></i>How do I request a quota?</p>
        <p><i class="fas fa-question-circle"></i>How do I spell my name?</p>
      </div>
    </div>
  </div>
</footer>