div.col-sm-12{
  position: relative;
  bottom: 0;
  height: 60px;
  background-color: beige;
  text-align: center;
  margin: 0;
}

h5{
  margin-top: 15px;
  color: darkslateblue;
}

p{
  text-align: left;
}