<footer class="footer">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="display-5">CONTACT</h5>
        <p><i class="fas fa-phone"></i>+31 (0)611989181</p>
        <p><i class="fas fa-envelope-open-text"></i>info@rasadministrative.com</p>
        <p><i class="fas fa-map-marker-alt"></i>Tweebosstraat 116A, 3072BX, Rotterdam</p>
        <p><i class="fas fa-paper-plane"></i>Ask Us</p>
      </div>
      <div class="col-sm-6">
        <h5 class="display-5">VEEL GESTELDE VRAGEN</h5>
      </div>
    </div>
  </div>
</footer>