<footer class="footer">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="display-5">CONTACT</h5>
        <p><a href="mailto:info@bccampusleidseschans.nl"><i class="fas fa-envelope-open-text"></i>info@bccampusleidseschans.nl</a></p>
        <p><i class="fas fa-paper-plane"></i>Ask Us</p>
      </div>
      <div class="col-sm-6">
        <h5 class="display-5">VEEL GESTELDE VRAGEN</h5>
        <p><i class="fas fa-question-circle"></i>Ik heb een klacht, waar moet ik heen?</p>
        <p><i class="fas fa-question-circle"></i>Ik heb een reparatieverzoek, waar kan ik terecht?</p>
        <p><i class="fas fa-question-circle"></i>Ik heb last van geluidsoverlast door de bouwwerkzaamheden, wat kan ik doen?</p>
        <p><i class="fas fa-question-circle"></i>Ik ben hier net komen wonen, waar kan ik meer informatie vinden over het gebouw?</p>
      </div>
    </div>
  </div>
</footer>