<div class="container-fluid" id="nieuwsbrief">
  <div class="justify-content-center align-self-center" style="width: 100%;">
  <div class="row">
    <div id="left" class="col-sm-7">
      <img src='../../../assets/leiden_logo.jpg' />
      <h4 class="display-4">NIEUWSBRIEF <i class="far fa-newspaper"></i></h4>
      <h5 class="display-5">MEEST RECENTE</h5>
      <p id="nieuwsbrief-title"> BC Leidse Schans </p>
      <p id="nieuwsbrief-subtitle">Door Tessa van Hooijdonk</p>
      <small class="text-muted">Nieuwsbrief 17-7-2019</small>
      <hr>
      <p class="lead">Hoera! De Bewonerscommissie is geboren</p>
      <p>
        De Bewonerscommissie Campus Leidse Schans, online te vinden als BC Leidse Schans, is een feit! De termijn waarin belanghebbende bezwaar konden maken tegen de aanstelling van de leden is verstreken en dit betekent dat we officieel zijn geïnstalleerd op 17 juni 2019! 
        Echter, dit betekent niet dat we de maanden tot onze officiële benoeming niks hebben ondernomen. In deze en volgende nieuwsbrieven houden we jullie op de hoogte van de kwesties waar de BC zich mee bezig houdt.  
      </p> 
      <p>De website
          Rainier is de laatste maand druk bezig geweest met het bouwen van de website. Deze website is te vinden op: http://bccampusleidseschans.nl/. Via onze Facebookpagina BC Campus Leidse Schans  zal de site ook te vinden zijn. Op de website zullen oa. nieuwsbrieven, een F.A.Q. en contactgegevens te vinden zijn.    </p>
      <p class="lead">Servicekosten</p>
      
      <p>Als BC zijnde hebben wij de taak om de gemaakte servicekosten te bestuderen, te bespreken met DUWO en deze goed te keuren. Tot op heden hebben wij deze nog niet goedgekeurd wegens gebrek aan informatie, waardoor we de kosten niet kunnen controleren. </p> 
      
      <p class="lead">De Bouw en Overlast</p> 
      <p>
      We hebben contact gehad met projectleider Bart Lievaart van de bouw. Er zijn bij ons klachten binnengekomen dat mensen die in de bouw werken heel makkelijk bij studenten naar binnen kunnen kijken. Deze klacht hebben wij aangedragen en de bouwvakker zullen erop gewezen worden. Ook hebben Martijn en Kristen vanaf de steigers kunnen ervaren hoe makkelijk het is om naar binnen te kijken. Dit viel best mee, omdat de zon ontzettend op de ramen weerkaatst. Daarnaast komen er binnenkort doeken aan de hekken te hangen, omdat dat de bouw de hoogte in gaat. Dit zal het zicht van de bouwvakkers nog verder belemmeren.
     </p>
      <p>
      Wat betreft geluidsoverlast door de bouwwerkzaamheden valt er het volgende te melden: het is wettelijk vastgelegd dat er tussen 7.00 en 19.00 uur gebouwd mag worden. Tussen deze tijden is er helaas niks aan het geluidsoverlast te doen. De voorbereidingen die om 06:30 vaak worden getroffen, kunnen wel voor wat geluid zorgen, maar dit zou niet te luid mogen zijn dat het een ‘overlast’ wordt. Is dit wel het geval, graag een mail naar info@bccampusleidseschans.nl met daarin het tijdstip en de werkzaamheden (bijvoorbeeld het slaan met een hamer of de bouwlift) die voor overlast zorgen. 
      </p>
      <p class="lead">Prullenbak</p> 
      <p>
          Een van de eerste zaken die wij als BC hebben gerealiseerd is de prullenbak in de centrale hal op de Deltaweg. Voorheen was hier geen bruikbare prullenbak wat zorgde voor veel (post)afval op de grond. 
      </p> 
      <p class="lead">Afgezette fietspad</p>
      <p>
          Het fietspad op het Betaplein is wegens de bouwwerkzaamheden afgezet. Wettelijke veiligheidsnormen eisen deze afzetting wegens de hoogte van de bouwwerkzaamheden en de draaicirkel van de hijskraan. Ook nu er een brandkraan geplaatst is die met hekken is afgezet, moeten fietsers en scooters tussen de witte blokken en voetgangers door over de stoep manoeuvreren. Naast de nodige irritatie zorgt dit ook voor onveilige situaties. We hebben contact opgenomen met de Gemeente Leiden en gevraagd om hier wat aan te doen. Wij hebben voorgesteld een van de witte blokken voor het ROC weg te halen en een duidelijke verdeling op het Betaplein te maken wat ‘fietspad’ en wat ‘voetpad’ is. De Gemeente Leiden heeft dit voorstel gehonoreerd en inderdaad één van de blokken weggehaald!
      </p>
    </div>
    <div id="right" class="col-sm-5">
      <h5 id="nieuwsbrief-archief" class="display-5">NIEUWSBRIEF ARCHIEF</h5>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Nieuwsbrief 25 December 2019
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae deleniti asperiores debitis magnam deserunt fugiat, aspernatur non nemo blanditiis.</p>
              </mat-list-item>
              <mat-list-item>
                <a href="#">Lees Meer</a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Nieuwsbrief 25 December 2019
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae deleniti asperiores debitis magnam deserunt fugiat, aspernatur non nemo blanditiis.</p>
              </mat-list-item>
              <mat-list-item>
                <a href="#">Lees Meer</a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Nieuwsbrief 25 December 2019
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae deleniti asperiores debitis magnam deserunt fugiat, aspernatur non nemo blanditiis.</p>
              </mat-list-item>
              <mat-list-item>
                <a href="#">Lees Meer</a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  </div>
</div>