<div class="container-fluid" id="nieuwsbrief">
  <div class="justify-content-center align-self-center" style="width: 100%;">
  <div class="row">
    <div id="left" class="col-sm-7">
      <img src='../../../assets/leiden_logo.jpg' />
      <h4 class="display-4">NIEUWSBRIEF <i class="far fa-newspaper"></i></h4>
      <h5 class="display-5">MEEST RECENTE</h5>
      <p id="nieuwsbrief-title"> BC Leidse Schans </p>
      <p id="nieuwsbrief-subtitle">Door Tessa van Hooijdonk</p>
      <small class="text-muted">Nieuwe Leden</small>
      <hr>
      <p><b><i>For English version see below</i></b></p>
      
      <p class="lead">De Bewonerscommissie van Campus Leidse Schans is op zoek naar nieuwe leden!</p>
      <p>
          Als Bewonerscommissie behartigen we de belangen van de bewoners van Campus Leidse Schans. De commissie bestaat uit bewoners die op vrijwillige basis samen komen om de leefbaarheid van het complex te verbeteren. Commissieleden zijn in tegenstelling tot het studentenbeheer geen onderdeel van DUWO. Als lid van de bewonerscommissie heb je zitting in de vergadering die &eacute;&eacute;n keer per maand wordt gehouden. 
      </p>
      
          
       <p>   Een paar voorbeelden van wat de Bewonerscommissie al voor elkaar heeft gekregen:

          <ul type="disc">
            <li>verbetering van de bereikbaarheid voor fietsers door verwijdering van afzettingen;</li>
            <li>de aanwezigheid van memoborden in alle centrale hallen;</li>
            <li>onder de aandacht brengen van problemen rondom verwarming en luchtventilatie bij DUWO en de gemeente.</li>
          </ul>


        <p>
          Wil jij ons helpen nog meer voor elkaar te krijgen? Twijfel niet en meld je aan bij de Bewonerscommissie!

          Reageer voor 11 oktober 2019 door een mailtje te sturen naar: <a href="mailto:bcleidseschans@gmail.com?Subject=Nieuwe%Lid" target="_top">bcleidseschans@gmail.com</a>
        </p>
        <p><b>--------------------------------------------------------------------------------------------</b></p>
        <p class="lead">Residents&#39; Committee Leidse Schans is looking for new members!</p>
        <p>
            As Residents&#39; Committee we represent the interests of all students that are living at our Campus. The Residents&#39; Committee is a group of residents aiming to make our campus a better place to live. We are all volunteers and we are not associated with DUWO. We have meetings every month.
        </p>
        
         <p>What we have accomplished so far:
  
            <ul type="disc">
              <li>accessibility for cyclists by asking to remove concrete barriers;</li>
              <li>placement of notice boards in all central halls;</li>
              <li>bringing up issues related to heating and air ventilation to the attention by DUWO and the city council.</li>
            </ul>
  
  
          <p>
            Do you want to help us accomplish more? Doubt no more and apply to join the Residents&#39; Committee!
  
            Send us a mail before the 11th of October to: <a href="mailto:bcleidseschans@gmail.com?Subject=New%Member" target="_top">bcleidseschans@gmail.com</a>
          </p>
    </div>
    <div id="right" class="col-sm-5">
      <h5 id="nieuwsbrief-archief" class="display-5">NIEUWSBRIEF ARCHIEF</h5>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Nieuwsbrief 17-07-2019
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                  <p class="lead">Hoera! De Bewonerscommissie is geboren</p>
                  <p>
                    We hebben als bewonerscommissie de servicekosten goedgekeurd! DUWO zal de individuele afrekeningen deze weken afronden. Het eventueel te veel betaalde voorschot zal vervolgens door DUWO worden teruggestort.  
                  </p> 
                  
              </mat-list-item>
              <mat-list-item>
                <a routerLink="archief">Lees Meer</a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Nieuwsbrief 03-09-2019
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                  <p class="lead">Servicekosten</p>
                  <p>
                    We hebben als bewonerscommissie de servicekosten goedgekeurd! DUWO zal de individuele afrekeningen deze weken afronden. Het eventueel te veel betaalde voorschot zal vervolgens door DUWO worden teruggestort.
                  </p> 
                </mat-list-item>
                <mat-list-item>
                  <p class="lead">Memoborden</p>
                   <p>
                     Zoals jullie gezien hebben, hangen er tegenwoordig memoborden in alle portieken. Hierin zullen wij belangrijke mededelingen en belangrijke informatie op verspreiden. Vergeet deze dus niet in de gaten te houden!
                    </p>
                  
              </mat-list-item>
              <mat-list-item>
                <a routerLink="archief">Lees Meer</a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          </mat-accordion>
      

    </div>
  </div>
  </div>
</div>