<app-header></app-header>
<div class="container-fluid" id="nieuwsbrief">
    <div class="justify-content-center align-self-center" style="width: 100%;">
    <div class="row">
      <div id="left" class="col-sm-7">
        <img src='../../../assets/leiden_logo.jpg' />
        <h4 class="display-4">NIEUWSBRIEF <i class="far fa-newspaper"></i></h4>
        <h5 class="display-5">ARCHIEF</h5>
        <p id="nieuwsbrief-subtitle">Door Tessa van Hooijdonk</p>
      <small class="text-muted">Nieuwsbrief 03-09-2019</small>
      <hr>
      <p class="lead">Servicekosten</p>
      <p>
          We hebben als bewonerscommissie de servicekosten goedgekeurd! DUWO zal de individuele afrekeningen deze weken afronden. Het eventueel te veel betaalde voorschot zal vervolgens door DUWO worden teruggestort.
      </p> 

      <p class="lead">Memoborden</p>
      <p>
          Zoals jullie gezien hebben, hangen er tegenwoordig memoborden in alle portieken. Hierin zullen wij belangrijke mededelingen en belangrijke informatie op verspreiden. Vergeet deze dus niet in de gaten te houden!
      </p>
      
      <p class="lead">Nieuwe gebouwen Epsilon en Sigma</p>
      <p>Sinds een maand zijn de nieuwe gebouwen op onze campus Epsilon en Sigma open en bewoond. Van harte welkom! Wegens het uitblijven van bezwaren, zijn wij verheugd te melden dat wij ook hen vertegenwoordigen!
      </p> 
      
      <p class="lead">Mededeling bouw</p> 
      <p>
        Maandag 9 en dinsdag 10 september van 7.00-17.00 uur vindt er groot afvoertransport plaats van de bouw! Dit geeft mogelijk verkeershinder bij het in- en uitrijden van de parkeergarage. Er zullen verkeersregelaars aanwezig zijn. Het is aan te raden niet over de weg achter de Kwikfit en de Gamma richting het Betaplein te lopen of te fietsen.
     </p>

     <p class="lead">Klachten omtrent bouw</p>
     <p>
        De bouwvak is weer voorbij en meteen kwamen er weer klachten bij ons binnen over joelende en glurende bouwvakkers. Wij hebben dit nogmaals gecommuniceerd naar onze contactpersoon van de bouw en hij zal dit nogmaals bespreken met de bouwvakkers. Mocht er niks veranderen aan de situatie, schroom niet om ons te mailen met je klacht. Wij doen er alles aan om de klachten op te lossen.
      </p>

      <p class="lead">Grofvuil</p> 
      <p>
        Uit ervaring blijkt dat er vaak oude meubels en ander grofvuil achterblijft in de hal. Echter, dit is niet de bedoeling! 
        Het grofvuil uit de hallen weghalen brengt extra kosten met zich mee die via de servicekosten worden doorberekend! Daarnaast komt de brandveiligheid in het geding.
      </p>
      <p>Grofvuilkan je gratis laten ophalen door de gemeente Leiden, door  <a href="https://gemeente.leiden.nl/inwoners-en-ondernemers/afval/grofvuil-wegbrengen-of-laten-ophalen/">online</a> een afspraak te maken of door het zelf weg te brengen naar de Milieustraat aan de J.C. De Rijpstraat (geen  afspraak nodig).<p>
      <p>Zie ook de memoborden voor informatie over gro1fvuil!</p>

      <p class="lead">Feestelijke opening Campus</p>
      <p>
          Afgelopen maandag 26 augustus 2019, was de feestelijke opening van de campus. Hiervoor was de minister van Binnenlandse Zaken aanwezig en wij waren als BC ook uitgenodigd! Na toespraken en de offici&euml;le opening was het tijd voor een borrel  en hebben diverse BC leden nieuwe contacten gelegd die in de toekomst nog wel eens van pas kunnen komen!
          <img class="min_bzk" src="../../../assets/min_bzk_1.jpg">
          <img class="min_bzk" src="../../../assets/min_bzk_2.jpg">
      </p>

        <p id="nieuwsbrief-title"> BC Leidse Schans </p>
        <p id="nieuwsbrief-subtitle">Door Tessa van Hooijdonk</p>
        <small class="text-muted">Nieuwsbrief 17-7-2019</small>
        <hr>
        <p class="lead">Hoera! De Bewonerscommissie is geboren</p>
        <p>
          De Bewonerscommissie Campus Leidse Schans, online te vinden als BC Leidse Schans, is een feit! De termijn waarin belanghebbende bezwaar konden maken tegen de aanstelling van de leden is verstreken en dit betekent dat we officieel zijn ge&iuml;nstalleerd op 17 juni 2019! 
          Echter, dit betekent niet dat we de maanden tot onze offici&euml;le benoeming niks hebben ondernomen. In deze en volgende nieuwsbrieven houden we jullie op de hoogte van de kwesties waar de BC zich mee bezig houdt.  
        </p> 
        <p class="lead">De Website</p>
        <p>
            Rainier is de laatste maand druk bezig geweest met het bouwen van de website. Via onze <a href="https://www.facebook.com/profile.php?id=100039210640151">Facebookpagina BC Campus Leidse Schans</a> zal de site ook te vinden zijn. Op de website zullen oa. nieuwsbrieven, een F.A.Q. en contactgegevens te vinden zijn.    </p>
        <p class="lead">Servicekosten</p>
        
        <p>Als BC zijnde hebben wij de taak om de gemaakte servicekosten te bestuderen, te bespreken met DUWO en deze goed te keuren. Tot op heden hebben wij deze nog niet goedgekeurd wegens gebrek aan informatie, waardoor we de kosten niet kunnen controleren. </p> 
        
        <p class="lead">De Bouw en Overlast</p> 
        <p>
        We hebben contact gehad met projectleider Bart Lievaart van de bouw. Er zijn bij ons klachten binnengekomen dat mensen die in de bouw werken heel makkelijk bij studenten naar binnen kunnen kijken. Deze klacht hebben wij aangedragen en de bouwvakker zullen erop gewezen worden. Ook hebben Martijn en Kristen vanaf de steigers kunnen ervaren hoe makkelijk het is om naar binnen te kijken. Dit viel best mee, omdat de zon ontzettend op de ramen weerkaatst. Daarnaast komen er binnenkort doeken aan de hekken te hangen, omdat dat de bouw de hoogte in gaat. Dit zal het zicht van de bouwvakkers nog verder belemmeren.
       </p>
        <p>
        Wat betreft geluidsoverlast door de bouwwerkzaamheden valt er het volgende te melden: het is wettelijk vastgelegd dat er tussen 7.00 en 19.00 uur gebouwd mag worden. Tussen deze tijden is er helaas niks aan het geluidsoverlast te doen. De voorbereidingen die om 06:30 vaak worden getroffen, kunnen wel voor wat geluid zorgen, maar dit zou niet te luid mogen zijn dat het een ‘overlast’ wordt. Is dit wel het geval, graag een mail naar <a href="mailto:info@bccampusleidseschans.nl" target="_top">info@bccampusleidseschans.nl</a>met daarin het tijdstip en de werkzaamheden (bijvoorbeeld het slaan met een hamer of de bouwlift) die voor overlast zorgen. 
        </p>
        <p class="lead">Prullenbak</p> 
        <p>
            Een van de eerste zaken die wij als BC hebben gerealiseerd is de prullenbak in de centrale hal op de Deltaweg. Voorheen was hier geen bruikbare prullenbak wat zorgde voor veel (post)afval op de grond. 
        </p> 
        <p class="lead">Afgezette fietspad</p>
        <p>
            Het fietspad op het Betaplein is wegens de bouwwerkzaamheden afgezet. Wettelijke veiligheidsnormen eisen deze afzetting wegens de hoogte van de bouwwerkzaamheden en de draaicirkel van de hijskraan. Ook nu er een brandkraan geplaatst is die met hekken is afgezet, moeten fietsers en scooters tussen de witte blokken en voetgangers door over de stoep manoeuvreren. Naast de nodige irritatie zorgt dit ook voor onveilige situaties. We hebben contact opgenomen met de Gemeente Leiden en gevraagd om hier wat aan te doen. Wij hebben voorgesteld een van de witte blokken voor het ROC weg te halen en een duidelijke verdeling op het Betaplein te maken wat &apos;fietspad&apos; en wat &apos;voetpad&apos; is. De Gemeente Leiden heeft dit voorstel gehonoreerd en inderdaad één van de blokken weggehaald!
        </p>
      </div>
