div.container{
  text-align: center;
}

img{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5{
  display: inline-block;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 32px;
  
}
mat-card{
  max-width: 500px;
  display: inline-block;
  box-shadow: none!important;
}
mat-card-title,
::ng-deep div.mat-card-header-text{
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 1600px){
  div.container{
    height: auto!important;
  }
  div.justify-content-center{
    justify-content: none!important;
    align-self: auto!important;
  }
}
@media only screen and (max-width: 600px){
  div.justify-content-center{
    justify-content: none!important;
    align-self: auto!important;
  }

  div.container{
    overflow: scroll;
  }
}