<div class="container d-flex h-100">
  <div class="justify-content-center align-self-center" style="width: 100%;">
      <h5 class="display-5">COMMISSIE</h5>
      <div class="row">
        <div class="col-sm-6">
          <img src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-767771860.jpg" alt="">
          <p class="commissie-functie">Co Voorzitter - Martijn Sassen</p>
          <p class="lid-omschrijving">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nesciunt enim esse doloremque laboriosam laudantium rem optio quae ducimus sit aspernatur voluptatum, illo officia molestias mollitia dolorem animi. Molestiae, aliquam.</p>
        </div>
        <div class="col-sm-6">
          <img src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-767771860.jpg" alt="">
          <p class="commissie-functie">Co Voorzitter - Kirsten</p>
          <p class="lid-omschrijving">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nesciunt enim esse doloremque laboriosam laudantium rem optio quae ducimus sit aspernatur voluptatum, illo officia molestias mollitia dolorem animi. Molestiae, aliquam.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-767771860.jpg" alt="">
          <p class="commissie-functie">Secretaris - Tessa</p>
          <p class="lid-omschrijving" style="display: block; margin-left: auto; margin-right: auto;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nesciunt enim esse doloremque laboriosam laudantium rem optio quae ducimus sit aspernatur voluptatum, illo officia molestias mollitia dolorem animi. Molestiae, aliquam.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-767771860.jpg" alt="">
          <p class="commissie-functie">Communicatie Officer - Leo</p>
          <p class="lid-omschrijving">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nesciunt enim esse doloremque laboriosam laudantium rem optio quae ducimus sit aspernatur voluptatum, illo officia molestias mollitia dolorem animi. Molestiae, aliquam.</p>
        </div>
        <div class="col-sm-6">
          <img src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-767771860.jpg" alt="">
          <p class="commissie-functie">PR - Rainier</p>
          <p class="lid-omschrijving">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nesciunt enim esse doloremque laboriosam laudantium rem optio quae ducimus sit aspernatur voluptatum, illo officia molestias mollitia dolorem animi. Molestiae, aliquam.</p>
        </div>
      </div>
  </div>
</div>