<div class="container-fluid" id="commissie">
  <div class="justify-content-center align-self-center" style="width: 100%;">
      <h5 class="display-5" style="display: block; text-align: center;">COMMISSIE <i class="fas fa-user-tie"></i></h5>
      <div class="row d-flex justify-content-center">
        <mat-card class="">
          <mat-card-header>
            <mat-card-title>Algemeen</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/commissie.jpg" style="width:100%" alt="algemeen">
          <mat-card-content>
          <p class="commissie-omschrijving">
            Wij zijn de bewonerscommissie (BC) van de Campus Leidse Schans. Wij hebben deze BC opgericht om de leefbaarheid van de Campus Leidse Schans te verbeteren. Doordat we alle bewoners van de Deltaweg, het Omegaplantsoen en het Betaplein vertegenwoordigen zijn we sterkere gesprekspartner van DUWO dan de bewoner alleen! 
            Op deze site kun je vinden welke klachten en verbeterpunten wij in kaart hebben gebracht en welke ideëen wij hebben om het wonen op de Campus nog aangenamer te maken! Ook willen we via deze weg jullie op de hoogte houden van stand van zaken op deze onderwerpen of andere relevante mededelingen doen!
            </p> 
          </mat-card-content>
        </mat-card> 
      </div>
      <div class="container">
        <mat-card class="">
          <mat-card-header>
            <mat-card-title>Tessa van Hooijdonk (22 jaar, Bachelor Culturele Antropologie en Ontwikkelingssociologie)</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/tessa.jpg" alt="algemeen">
          <mat-card-content>
            <p class="lid-omschrijving">
              Tessa vervult de taak van Secretaris. Zij heeft zich bij de BC aangesloten, omdat ze communicatie met DUWO mist en hierin haar stem wil laten horen. 
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="">
          <mat-card-header>
            <mat-card-title>Leo Boogert (26 jaar, Bachelor Geschiedenis)</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/leo.jpeg" alt="algemeen">
          <mat-card-content>
            <p class="lid-omschrijving">
              Leo is Hoofd Interne Communicatie en zal zich bezighouden met de communicatie op de Campus, om zo goed mogelijk de stem van de bewoners te vertegenwoordigen. Een belangrijke drijfveer voor hem om aan de BC deel te nemen is onder andere de duurzaamheid van het gebouw.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="">
          <mat-card-header>
            <mat-card-title>Rainier Kock (27 jaar, Bachelor Informatica, Business Data Management)</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/papa_dois.jpg" alt="algemeen">
          <mat-card-content>
            <p class="lid-omschrijving">
              Rainier is Hoofd Online Communicatie en zal zich vooral focussen op het bijhouden van de website en andere sociale media. Hij heeft zich bij de BC aangesloten, omdat hij graag actie wil ondernemen om problemen op de Campus aan te pakken. 
            </p>
          </mat-card-content>
        </mat-card>     
        <mat-card class="">
          <mat-card-header>
            <mat-card-title>Bart Bussink (24 jaar, Master Bestuurskunde en Financieel Recht)</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/bart.jpg" alt="algemeen">
          <mat-card-content>
            <p class="lid-omschrijving">
              Bart is ons tweede Algemeen Lid. Hij heeft zich bij de BC aangesloten, omdat hij van de Campus een bruisende plek wil maken.
            </p>
          </mat-card-content>
        </mat-card>       
      </div>
 </div>
</div>