div.container{
  text-align: center;
}

img{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5{
  display: inline-block;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 32px;
  
}

p.commissie-functie{
  background-color: darkslateblue;
  color: white;
  width: 150px;
  padding: 10px;
  display: block;
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
}

p.lid-omschrijving{
  width: 300px;
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

p.commissie-omschrijving{
  display: inline-block;
  width: 600px;
}

@media only screen and (max-width: 1600px){
  div.container{
    height: auto!important;
  }
  div.justify-content-center{
    justify-content: none!important;
    align-self: auto!important;
  }
}
@media only screen and (max-width: 600px){
  div.justify-content-center{
    justify-content: none!important;
    align-self: auto!important;
  }

  div.container{
    overflow: scroll;
  }
}