<div class="container-fluid" id="commissie">
  <div class="justify-content-center align-self-center" style="width: 100%;">
      <h5 class="display-5" style="display: block; text-align: center;">COMMISSIE <i class="fas fa-user-tie"></i></h5>
      <div class="row">
        <div class="col-sm-12">
          <img src="../../../assets/commissie.jpg" alt="">
          <p class="commissie-functie">Algemeen</p>
          <p class="commissie-omschrijving" style="display: block; margin-left: auto; margin-right: auto;">Wij zijn de bewonerscommissie (BC) van de Campus Leidse Schans. Wij hebben deze BC opgericht om de leefbaarheid van de Campus Leidse Schans te verbeteren. Doordat we alle bewoners van de Deltaweg, het Omegaplantsoen en het Betaplein vertegenwoordigen zijn we sterkere gesprekspartner van DUWO dan de bewoner alleen! 
          Op deze site kun je vinden welke klachten en verbeterpunten wij in kaart hebben gebracht en welke ideëen wij hebben om het wonen op de Campus nog aangenamer te maken! Ook willen we via deze weg jullie op de hoogte houden van stand van zaken op deze onderwerpen of andere relevante mededelingen doen!
           </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/martijn.jpg" alt="">
          <p class="commissie-functie">Co-voorzitter - Martijn Sassen</p>
          <p class="lid-omschrijving">Martijn Sassen (24 jaar, Bachelor Biologie en Medisch Laboratoriumonderzoek) is samen met Kristen Oudakker initiatiefnemer en co-voorzitter van de BC. Zijn beweegreden hiervoor was voornamelijk om de leefbaarheid van de Campus te vergroten, naar aanleiding van de aanhoudende klachten over verschillende onderwerpen als E-teck, het luchtventilatiesysteem en Parkeerplaatsen.</p>
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/kristen.jpg" alt="">
          <p class="commissie-functie">Co-voorzitter - Kristen Oudakker</p>
          <p class="lid-omschrijving">Kristen Oudakker (23 jaar, Master Ondernemingsrecht) is samen met Martijn van Sassen initiatiefnemer en co-voorzitter van de BC. Haar beweegreden hiervoor was voornamelijk om de leefbaarheid van de Campus te vergroten, naar aanleiding van de aanhoudende klachten over verschillende onderwerpen als E-teck, het luchtventilatiesysteem en Parkeerplaatsen.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img src="../../../assets/tessa.jpg" alt="">
          <p class="commissie-functie">Secretaris - Tessa van Hooijdonk</p>
          <p class="lid-omschrijving" style="display: block; margin-left: auto; margin-right: auto;">Tessa van Hooijdonk (22 jaar, Bachelor Culturele Antropologie en Ontwikkelingssociologie) vervult de taak van Secretaris. Zij heeft zich bij de BC aangesloten, omdat ze communicatie met DUWO mist en hierin haar stem wil laten horen. 
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/leo.jpeg" alt="">
          <p class="commissie-functie">Hoofd Interne Communicatie - Leo Boogert</p>
          <p class="lid-omschrijving">Leo Boogert (26 jaar, Bachelor Geschiedenis) is Hoofd Interne Communicatie en zal zich bezighouden met de communicatie op de Campus, om zo goed mogelijk de stem van de bewoners te vertegenwoordigen. Een belangrijke drijfveer voor hem om aan de BC deel te nemen is onder andere de duurzaamheid van het gebouw.
          </p>
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/papa_dois.jpg" alt="">
          <p class="commissie-functie">Hoofd Online Communicatie- Rainier Kock</p>
          <p class="lid-omschrijving">Rainier Kock (27 jaar, Bachelor Informatica, Business Data Management) is Hoofd Online Communicatie en zal zich vooral focussen op het bijhouden van de website en andere sociale media. Hij heeft zich bij de BC aangesloten, omdat hij graag actie wil ondernemen om problemen op de Campus aan te pakken. 
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/monica.jpg" alt="">
          <p class="commissie-functie">Algemeen Lid - Monica Preller</p>
          <p class="lid-omschrijving">Monica Preller (24 jaar, Master Media Technology en Taalwetenschappen) is Algemeen Lid en heeft zich aangemeld bij de BC, omdat zij de commissie wil ondersteunen met goede ideeën. 
          </p>
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/bart.jpg" alt="">
          <p class="commissie-functie">Algemeen Lid- Bart Bussink</p>
          <p class="lid-omschrijving">Bart Bussink (24 jaar, Master Bestuurskunde en Financieel Recht) is ons tweede Algemeen Lid. Hij heeft zich bij de BC aangesloten, omdat hij van de Campus een bruisende plek wil maken.
          </p>
        </div>
      </div>
  </div>
</div>