<app-header></app-header>
<div class="container">
  <h4 class="display-4">BCLS F.A.Q</h4>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ik heb een klacht, waar moet ik heen?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Voor klachten over de leefbaarheid van de Campus kun je bij de Bewonerscommissie terecht via het contactformulier op de website (link?) of @email. Wij hebben direct contact met DUWO en kunnen collectieve problemen die wij binnenkrijgen effectief aanpakken. Ook hebben wij direct contact met de projectleider van Yours Leiden. Eventuele klachten hierover kan je ook bij ons melden. Toch raden we je ook aan deze klachten te melden via www…...nl te melden.
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ik heb een reparatieverzoek, waar kan ik terecht?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Waar je terecht kan voor je reparatieverzoek, ligt aan de aard van de schade, zie voor meer informatie: https://www.duwo.nl/ik-huur/reparaties-en-klachten/reparatieverzoek-indienen/reparatieverzoek-regio-amsterdam-delft-regulier-den-haag-deventer-en-leiden/ 
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Ik heb last van geluidsoverlast door de bouwwerkzaamheden, wat kan ik doen?
        </mat-panel-title>
      </mat-expansion-panel-header>
      ○	De bouwwerkzaamheden rondom de Campus kan voor veel geluidsoverlast zorgen. Tussen 07:00 en 19:00 van maandag tot zaterdag is daar niks aan te doen, omdat dat de wettelijke vastgelegde tijden zijn waarop gebouwd mag worden. Omdat er veel werk verzet moet worden om de bouw op tijd klaar te hebben, kan het zijn dat er om 06:30 al voorbereidingen kunnen worden getroffen. Deze voorbereidingen zouden niet te veel lawaai moeten maken. Heb je hier toch erg last van, mail dit dan naar ons. Wij hebben direct contact met de projectleider en kunnen hem hierop aanspreken. Je kan het ook melden op www…….nl  
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Ik ben hier net komen wonen, waar kan ik meer informatie vinden over het gebouw? 
        </mat-panel-title>
      </mat-expansion-panel-header>
        ○	Meer praktische informatie kan je vinden op  https://www.duwo.nl/nc/ik-huur/woonzaken/overzicht-gebouwen/. Typ daar de straatnaam in.
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Waar kan ik parkeren?            
          </mat-panel-title>
      </mat-expansion-panel-header>
        ○	Indien je op het Omegaplantsoen of op de Deltaweg woont heb je kortweg 3 opties. Je kunt ervoor kiezen om de auto te parkeren in de parkeergarage onder het Da Vinci College/MBO Rijnland. Dit kost €27,50 per maand. Mocht je dit graag willen kun je contact opnemen met VORM bouw en een mailtje sturen naar yours@vorm.nl. Je dient in dit geval je naam, studentnummer, adres, telefoonnummer en kenteken van de auto naar dit adres te sturen.

        Mocht je liever niet willen betalen voor het parkeren van je auto, kun je deze kwijt buiten de "betaald parkeren zone". De verschillende parkeerzones vind je hier. https://gemeente.leiden.nl/inwoners-en-ondernemers/parkeren/
        
        Aan de andere kant van het kanaal kun je gratis parkeren. Zet je je auto liever iets meer in de buurt? Je kunt dan een parkeervergunning aanvragen voor zone B. Dit kost €51,00 per jaar. Je kunt dit doen op de website van de gemeente Leiden. https://gemeente.leiden.nl/inwoners-en-ondernemers/parkeren/parkeervergunningen/parkeervergunning-voor-bewoners/
        
        Hierbij geldt wel als voorwaarde dat de auto op je eigen naam staat of dat het een leaseauto betreft. Indien je auto op de naam van bijvoorbeeld één van je ouders staat die niet in Leiden wonen, kun je geen parkeervergunning aanvragen.
        
        ○	Tijdens de voorbereidingen van het project is er een grote denkfout gemaakt en hebben ze over het hoofd gezien dat de bewoners van Blok B (Omegaplantsoen en Deltaweg) gedurende de 2 jaar dat Blok A gebouwd wordt daar nog niet kunnen parkeren. Hierdoor wordt de omgeving waar je mag parkeren met een vergunning overbelast en is het er vaak te druk. Wij hebben dit probleem (en het alternatief de kostbare parkeergarage) gesignaleerd en zijn erover in gesprek met DUWO en hopelijk ook snel de Gemeente. Voor nu: heb je klachten over het parkeren, heb je een boete gekregen voor fout parkeren, heb je een vergunning maar kan je alsnog nergens je auto kwijt, mail dan ons vooral. Hoe meer klachten, hoe sterker onze case.
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Ik heb last van rode ogen en mijn luchtwegen. Hoe kan dit?
        </mat-panel-title>
      </mat-expansion-panel-header>
      ○	Grote kans dat je last hebt van de droge lucht op je kamer door het luchtventilatiesysteem. Korte uitleg: doordat deze installatie koudere lucht opwarmt, wordt de luchtvochtigheid minder. Lange uitleg vind je in dit onderzoek: https://zembla.bnnvara.nl/pdf/Onderzoeksrapport.pdf. Dit is al vaker door bewoners bij DUWO gesignaleerd, maar heeft niet voor een oplossing gezorgd. De bewonerscommissie is hierover in gesprek met DUWO. Vooralsnog hebben we geen lange termijn oplossing. Voor nu als tip: raam open of een humidifier…        
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Ik ben bezig met verhuizen en heb grofvuil, wat moet ik hiermee doen?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Wanneer je bepaalde meubels niet mee wilt verhuizen naar je volgende woning, kun je met de gemeente gratis een afspraak maken dat ze het voor je ophalen. Dit kan via de volgende link met behulp van je DigID. Het is niet de bedoeling dat grofvuil in de hal wordt achtergelaten. 
      https://gemeente.leiden.nl/inwoners-en-ondernemers/afval/grofvuil-wegbrengen-of-laten-ophalen/
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Wat wordt er voor mijn deur gebouwd?
        </mat-panel-title>
      </mat-expansion-panel-header>
      ○	https://leidenisyours.nl/ https://www.duwo.nl/over-duwo/onze-gebouwen/projectinformatie/projectdetails/item/19/lijst/14445/pagina/2/
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Hoe kan ik besparen op de kosten voor warmte en elektriciteit?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Allereerst een voor de hand liggend antwoord: gebruik zo min mogelijk energie. Eteck vraagt een behoorlijk tarief voor warmte, dus het beperken van het gebruik van warm water en de verwarming kan een behoorlijke besparing opleveren.
      Woningen op de Campus worden standaard niet opgeleverd met een waterbesparende douchekop, dus dit is een goede investering en levert ook meer comfort op aangezien de waterdruk vaak beperkt is. Een dergelijke douchekop is voor minder dan €20 te vinden op het internet.
      Houd in de winter de verwarming aan op een lage stand in plaats van deze volledig uit te schakelen. Doordat we op de Campus een warmtepomp gebruiken duurt het vaak lang voordat de radiator is opgewarmd. 
      Maak geen gebruik van elektrische kachels: in tegenstelling tot geruchten die over de Campus de ronde gaan is dit aanzienlijk duurder dan de vaste verwarming in je kamer of studio.
      Zet de ventilatie in je kamer altijd op stand “1”, tenzij je bijvoorbeeld aan het douchen of koken bent en je meer ventilatie nodig hebt.
      Check altijd goed de rekening die je van Eteck ontvangt; er zijn veel klachten bekend over rekeningen waarbij fouten zijn gemaakt in het nadeel van de huurder. Je kunt je verbruik aflezen in de meterkast en uitrekenen wat je zou moeten betalen voor warmte. Het tarief voor warmte vind je in het contract die je hebt met Eteck. 
      Kies voor een zuinige koelkast met een A+ label of beter, en vervang je verlichting in je kamer door LED’s. LED’s zijn tegenwoordig vrij goedkoop, vooral wanneer je ze besteld op buitenlandse websites en gaan veel langer mee dan gloei-, halogeen- en zelfs spaarlampen.
      Maak gebruik van vergelijkingssites voor het kiezen van een goedkope energieleverancier. Let hierbij vooral op het bedrag dat je moet betalen voor vaste kosten; als student verbruik je doorgaans weinig energie en daardoor betaal je vooral voor de aansluiting.
    </mat-expansion-panel>
  </mat-accordion>
</div>