div.container-fluid{
  background-image: url('../../../assets/intro.jpg');
  background-size: cover;
  background-position: center;
}

h4{
  color: darkslateblue;
  text-align: center;
  margin-left: 65%;
  font-weight: bold;
  text-shadow: 4px 4px 0 rgb(223,215,215) , 5px 4px 0 rgb(116,108,108) ;
}

h4#commissie-naam{
  
  margin-bottom: 5%; -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: darkred;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(223,215,215) , 5px 4px 0 rgb(116,108,108) ;
  
}

@media only screen and (max-width: 1000px){
  h4#commissie-naam{
    margin-bottom: 25%;
  }
}

@media only screen and (max-width: 600px){
  h4#commissie-naam{
    margin-bottom: 25%;
  }

  h4{
    margin-left: 0px;
  }
}

button{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}