div.container-fluid{
  background-image: url('../../../assets/intro.jpg');
  background-size: cover;
  background-position: center;
}

h4{
  color: orangered;
  text-align: center;
  margin-left: 65%;
  font-weight: bold;
}

h4#commissie-naam{
  color: orangered;
  margin-bottom: 5%;
}

@media only screen and (max-width: 1000px){
  h4#commissie-naam{
    margin-bottom: 25%;
  }
}

@media only screen and (max-width: 600px){
  h4.commissie{
    margin-top: 40%;
  }

  h4{
    margin-left: 0px;
  }
}

button{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}